extends layout

block content
	h1= title
	#content
		form(method="post", action="/find")
			p #{pagetitle}
			if (users == null)
				p
					input(type="text", name="searchterm")
				p 
					input(type="submit", value="Search")
			if (users != null)
				ul
					each user in users
						li 
							a(href='/edit?id=#{user._id}') #{user.userName}
							ul
								li login id: #{user.login}
								li email: #{user.email}